:root {
    /* FONTS */
    --font-family-main: 'Varta', sans-serif;
    --font-family-accent: 'lft-etica-mono', sans-serif;

      /* FONT SIZES */
    --font-size-h1: clamp(2rem, 1.295774647887324rem + 3.004694835680751vw, 4rem);
    --font-size-h2: clamp(1.5rem, 2.254vw + 0.972rem, 3rem);
    --font-size-h3: clamp(1.25rem, 0.9859154929577465rem + 1.1267605633802815vw, 2rem);
    --font-size-h4-lg-body: clamp(1.125rem, 0.9929577464788732rem + 0.5633802816901408vw, 1.5rem);
    --font-size-m-body: clamp(1rem, 0.9119718309859155rem + 0.3755868544600939vw, 1.25rem);
    --font-size-body-btn: clamp(0.875rem, 0.8309859154929577rem + 0.18779342723004694vw, 1rem);
    --font-size-xs: clamp(0.65625rem, 0.6232394366197183rem + 0.1408450704225352vw, 0.75rem);
    
    /* FONT WEIGHTS */
    --font-weight-light: 300;
    --font-weight-book: 350;
    --font-weight-regular: 400;
    --font-weight-semibold: 600;

    /* LINE HEIGHT */
    --line-height-h1: clamp(2.8rem, 4.207vw + 1.814rem, 5.6rem);
    --line-height-h2: clamp(2.1rem, 3.155vw + 1.361rem, 4.2rem);
    --line-height-h3: clamp(1.75rem, 1.577vw + 1.38rem, 2.8rem);
    --line-height-h4-lg-body: clamp(1.575rem, 0.789vw + 1.39rem, 2.1rem);
    --line-height-m-body: clamp(1.4rem, 0.526vw + 1.277rem, 1.75rem);
    --line-height-body: clamp(1.225rem, 0.263vw + 1.163rem, 1.4rem);
    --line-height-xs: clamp(0.919rem, 0.197vw + 0.873rem, 1.05rem);
     

  /* SPACING */
  --space-3xs: clamp(0.25rem, calc(0.25rem + 0.00vw), 0.25rem);
  --space-2xs: clamp(0.44rem, calc(0.42rem + 0.11vw), 0.50rem);
  --space-xs: clamp(0.69rem, calc(0.67rem + 0.11vw), 0.75rem);
  --space-s: clamp(0.88rem, calc(0.83rem + 0.22vw), 1.00rem);
  --space-m: clamp(1.31rem, calc(1.25rem + 0.33vw), 1.50rem);
  --space-l: clamp(1.75rem, calc(1.66rem + 0.43vw), 2.00rem);
  --space-xl: clamp(2.63rem, calc(2.49rem + 0.65vw), 3.00rem);
  --space-2xl: clamp(3.50rem, calc(3.33rem + 0.87vw), 4.00rem);
  --space-3xl: clamp(5.25rem, calc(4.99rem + 1.30vw), 6.00rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, calc(0.16rem + 0.43vw), 0.50rem);
  --space-2xs-xs: clamp(0.44rem, calc(0.33rem + 0.54vw), 0.75rem);
  --space-xs-s: clamp(0.69rem, calc(0.58rem + 0.54vw), 1.00rem);
  --space-s-m: clamp(0.88rem, calc(0.66rem + 1.09vw), 1.50rem);
  --space-m-l: clamp(1.31rem, calc(1.07rem + 1.20vw), 2.00rem);
  --space-l-xl: clamp(1.75rem, calc(1.32rem + 2.17vw), 3.00rem);
  --space-xl-2xl: clamp(2.63rem, calc(2.15rem + 2.39vw), 4.00rem);
  --space-2xl-3xl: clamp(3.50rem, calc(2.63rem + 4.35vw), 6.00rem);

  /* COLORS */
  --color-black: #000000;
  --color-white: #ffffff;

  /* ALIASES */


      }

      *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      /* TYPESCALE */

      h1{
        font-family: var(--font-family-main);
        font-size: var(--font-size-h1);
        text-transform: uppercase;
        font-weight: var(--font-weight-regular);
        letter-spacing: 10px;
        line-height: var(--line-height-h1);
      }
      
      h2{
        font-family: var(--font-family-main);
        font-size: var(--font-size-h2);
        font-weight: var(--font-weight-semibold);
        text-transform: uppercase;
        letter-spacing: 10px;
        line-height: var(--line-height-h2);
      }

      h3{
        font-family: var(--font-family-main);
        font-size: var(--font-size-h3);
        font-weight: var(--font-weight-regular);
        line-height: var(--line-height-h3);
      }

      h4{
        font-family: var(--font-family-main);
        font-size: var(--font-size-h3);
        font-weight: var(--font-weight-semibold);
        line-height: var(--font-size-h4-lg-body);
      }

      p{
        font-family: var(--font-family-main);
        font-size: var(--font-size-body-btn);
        font-weight: var(--font-weight-regular);
        line-height: var(--line-height-body);
      }

      .mediumBody{
        font-size: var(--font-size-m-body);
        line-height: var(--line-height-m-body);
      }

      .button{
        font-family: var(--font-family-accent);
        line-height: auto;
        font-size: var(--font-size-body-btn);
        letter-spacing: 0.5px;
      }
      
      .overline{
        font-family: var(--font-family-accent);
        font-size: var(--font-size-xs);
        line-height: var(--line-height-xs);
        font-weight: var(--font-weight-light);
      }

      .accentBody{
        font-family: var(--font-family-accent);
      }

      .accentSmallBody{
        font-family: var(--font-family-accent);
        font-weight: var(--font-weight-regular);
        line-height: 17px;
        font-size: 12px;
      }

        




      /* MEDIA QUERIES */
   @media screen and (max-width: 728px){
    h1, h2{
        letter-spacing: 5px;
    }
    .button{
        letter-spacing: 0.25px;
    }
   }
