:root {
      /* FONT SIZES */
  --size-body-xs: clamp(0.66rem, calc(0.64rem + 0.09vw), 0.71rem);
  --size-body-btn: clamp(0.88rem, calc(0.83rem + 0.22vw), 1.00rem);
  --size-body-m: clamp(1rem, 0.9167rem + 0.3704vw, 1.25rem);
  --size-lg-body: clamp(1.17rem, calc(1.08rem + 0.43vw), 1.41rem);
  --size-h4: clamp(1.56rem, calc(1.40rem + 0.77vw), 2.00rem);
  --size-h3: clamp(2.07rem, calc(1.81rem + 1.31vw), 2.83rem);
  --size-h2: clamp(2.76rem, calc(2.33rem + 2.15vw), 4.00rem);
  --size-h1: clamp(3.68rem, calc(3.00rem + 3.43vw), 5.65rem);

     /* LINE HEIGHT DESKTOP */

     --line-height-body-xs: 1.125rem;
     --line-height-body: 1.375rem;
     --line-height-lg-body: 1.625rem;
     --line-height-h4: 2.313rem;
     --line-height-h3: 2.813rem;
     --line-height-h2: 3.375rem;
     --line-height-h1: 4.063rem;

  /* SPACING */
  --space-3xs: clamp(0.25rem, calc(0.25rem + 0.00vw), 0.25rem);
  --space-2xs: clamp(0.44rem, calc(0.42rem + 0.11vw), 0.50rem);
  --space-xs: clamp(0.69rem, calc(0.67rem + 0.11vw), 0.75rem);
  --space-s: clamp(0.88rem, calc(0.83rem + 0.22vw), 1.00rem);
  --space-m: clamp(1.31rem, calc(1.25rem + 0.33vw), 1.50rem);
  --space-l: clamp(1.75rem, calc(1.66rem + 0.43vw), 2.00rem);
  --space-xl: clamp(2.63rem, calc(2.49rem + 0.65vw), 3.00rem);
  --space-2xl: clamp(3.50rem, calc(3.33rem + 0.87vw), 4.00rem);
  --space-3xl: clamp(5.25rem, calc(4.99rem + 1.30vw), 6.00rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, calc(0.16rem + 0.43vw), 0.50rem);
  --space-2xs-xs: clamp(0.44rem, calc(0.33rem + 0.54vw), 0.75rem);
  --space-xs-s: clamp(0.69rem, calc(0.58rem + 0.54vw), 1.00rem);
  --space-s-m: clamp(0.88rem, calc(0.66rem + 1.09vw), 1.50rem);
  --space-m-l: clamp(1.31rem, calc(1.07rem + 1.20vw), 2.00rem);
  --space-l-xl: clamp(1.75rem, calc(1.32rem + 2.17vw), 3.00rem);
  --space-xl-2xl: clamp(2.63rem, calc(2.15rem + 2.39vw), 4.00rem);
  --space-2xl-3xl: clamp(3.50rem, calc(2.63rem + 4.35vw), 6.00rem);


      }
  body{
   font-family: adobe-caslon-pro, serif;
  }