---
import Layout from '../layouts/Layout.astro';
---
<Layout>
    <section class="pt-space-80-160 mobileGrid desktopGrid">
        
        <h1 class="col-span-4 pb-space-64-80 md:col-span-7">Sally Bjerre Gaarde</h1>
        
        <p class="mediumBody col-span-4 md:row-start-2 md:col-span-6">Sally Bjerre Gaarde (b.1998) graduated with a bachelor´s degree in fashion design from Kolding School of Design in Summer 2022.
        </p>
       <p class="mediumBody col-span-4 md:col-span-6 md:row-start-3 pt-space-16-24" >Do not hesitate to get in touch, should You have questions, ideas for collaborations or comments.</p>
        <a class="col-span-4 pt-space-64-80 links underline md:row-start-4" href="mailto:sallygaarde@gmail.com" target="_blank">mailto:sallygaarde@gmail.com</a>
    </section>
   

</Layout>

<style>


</style>