---
import Layout from '../layouts/Layout.astro';
import Product from '../img/landing/jeans-2.webp';
import Button from '../components/PrimaryButton.astro';
---

<Layout>
 <div class="overlinep px-body-x py-space-24-32"> <a class="hover-underline-breadcrumb" href="/rental/">Rental </a><span> / </span> <a href="/">Checkout</a></div>
<div class="mobileGrid desktopGrid">
    <!-- Order summary -->
<div class="col-span-full pt-space-32-48 flex flex-col gap-space-32-48 lg:col-start-9 lg:col-span-4">
    <h2 class="">Order summary</h2>
    <div class="flex flex-col bg-lightgrey p-8 gap-space-64-80">

        <div class="flex gap-4 justify-between">
            <img src={Product} alt="Picture of product" class="w-32">
            <div class="flex flex-col  justify-between">
                <div class="flex flex-col gap-4">
                 <div class="flex flex-col gap-2">
                        <p class="accentSmallBody">Abjection T-shirt</p>
                        <p class="accentSmallBody">800 DKK</p>
                 </div>
                 <p class="overlinep">21/7 - 24/7 (3 days)</p>
                </div>
                <button class="self-end underline"><p>Remove item</p></button>
            </div>
        </div> 

        <div class="flex flex-col gap-6 pt-6 border-t-[1px] border-mediumgrey">
            <div class="flex flex-col gap-4 pb-6 border-b-[1px] border-mediumgrey">
                <div class="flex justify-between ">
                    <p class="mediumBody">Subtotal</p>
                    <p class="mediumBody">800 DKK</p>
                </div>
                <div class="flex justify-between">
                    <p class="mediumBody">Shipping</p>
                    <p class="mediumBody">---</p>
                </div>
                <div class="flex justify-between">
                    <p class="mediumBody">Cleaning fee</p>
                    <p class="mediumBody">59 DKK</p>
                </div>
            </div>
            <div class="flex justify-between">
                <p class="mediumBody">Total</p>
                <p class="mediumBody">859 DKK</p>
            </div>
        </div>

    </div>
</div>
    <!-- form -->
 <div class="col-span-full flex flex-col pt-space-64-80 gap-space-32-48 lg:col-start-2 md:col-span-6 lg:row-start-1">
        <h2 class="">Customer information</h2>
        <form name="Customer info" action="/success/" method="POST" data-netlify="true" class="col-span-full lg:col-span-4 flex flex-col gap-space-16-24">
          <div class="flex flex-col gap-1">
               <label for="fullname">Name *</label>
               <input  required type="text" id="fullname" name="fullname" placeholder="Please enter your full name" autocomplete="name" class="px-1.5 py-2.5 border-[1px] border-solid border-mediumgrey">
             </div>
          <div class="flex flex-col gap-1">
            <label for="tel">Phone Number</label>
             <input type="tel" id="tel" name="tel" placeholder="xx xx xx xx" autocomplete="tel-national" class="px-1.5 py-2.5 border-[1px] border-solid border-mediumgrey">
            </div>
             <div class="flex flex-col gap-1">
           <label for="email">Email *</label>
           <input  required type="email" id="email" name="email" placeholder="Please enter your email"  class="px-1.5 py-2.5 border-[1px] border-solid border-mediumgrey" autocomplete="email">
         </div>
       <div class="flex flex-col gap-space-16-24 lg:flex-row  md:gap-6">
             <div class="flex flex-col gap-1 lg:w-[75%]">
                <label for="address">Address *</label>
                <input required type="text" id="address" name="address" placeholder="Please enter your address" autocomplete="street-address"  class="px-1.5 py-2.5 border-[1px]  border-solid border-mediumgrey">
             </div>
             <div class="flex flex-col gap-1">
                <label for="postcode">Postal code*</label>
                <input  required type="number" id="postcode" name="postcode" placeholder="f.ex. 2100" autocomplete="postal-code"  class="px-1.5 py-2.5 border-[1px] border-solid border-mediumgrey w-32">
             </div>
       </div>
      <div class="flex flex-col gap-space-16-24 md:flex-row  lg:gap-6">
             <div class="flex flex-col gap-1 lg:w-[50%]">
                <label for="city">City *</label>
                <input  required type="text" id="city" name="city" placeholder="Please enter your city" autocomplete="address-level2"  class="px-1.5 py-2.5 border-[1px] border-solid border-mediumgrey">
             </div>
             <div class="flex flex-col gap-1 lg:w-[50%]">
                <label for="country">Country *</label>
                <input  required type="text" id="country" name="country" placeholder="Denmark" disabled  class="px-1.5 py-2.5 border-[1px] border-solid border-mediumgrey">
             </div>
      </div>
         <!-- SHIPPING OPTIONS BOX -->
         <div class="flex flex-col gap-4 pt-space-64-80">
            <h3>Shipping options</h3>
            <div class="bg-lightgrey flex justify-between lg:justify-start lg:gap-24 py-space-16-24 px-6">
               <div class="flex flex-row-reverse gap-3 ">
                 <label for="pickup" class="mt-1">Pick up</label>
                 <input type="radio" name="shippingOptions" id="pickup" class="w-5">
                </div>
                    <div class="flex flex-row-reverse gap-3">
                        <label for="ship" class="mt-1">Ship item</label>
                        <input type="radio" name="shippingOptions" id="ship" class="w-5">
                    </div>
                 </div>
         </div>
         <!-- PAYMENT METHOD-->
         <div class="pt-space-32-48">
            <h3 class="pb-4">Payment method</h3>
           
            <div class="bg-lightgrey col-span-full lg:col-span-4 flex flex-col gap-space-16-24 py-space-16-24  px-6">
                <div class="flex flex-col gap-1">
                    <label for="name" class="">Name on card*</label>
                    <input type="text" name="name" placeholder="Enter cardholder name" class="px-1.5 py-2.5 border-[1px] border-solid border-mediumgrey">
                </div>

               <div class="flex flex-col gap-1">
                <label for="card">Card number*</label>
                <input class="px-1.5 py-2.5 border-[1px] border-solid border-mediumgrey" type="text" name="card" maxlength="19" inputmode="numeric" pattern="[0-9s]{13,19}" placeholder="XXXX XXXX XXXX XXXX" required>
               </div>
              <div class="flex flex-row gap-8">
             <div class="flex flex-col gap-1"> 
                <label for="expdate" >Exp. date*</label>
                
                    <input class="px-1.5 py-2.5 border-[1px] border-solid border-mediumgrey" autocomplete="off" type="text"  id="inputExpDate" placeholder="MM / YY" maxlength='7'>
              </div>
              <div class="flex flex-col gap-1">
                <label for="ccv">ccv*</label>
                <input type="text" name="CCV" placeholder="CCV" maxlength="3" pattern="[0-9]*" required class="px-1.5 py-2.5 border-[1px] border-solid border-mediumgrey">
               </div>
              </div>
              <div class="flex flex-col gap-1">
                <label for="billingadd" class="">Billing address*</label>
      
                <div class="flex">
                  <input class="regular-checkbox " type="checkbox" checked="checked" name="sameadr">
                  <p class="text-form-inputandlabel pl-3">
                    Shipping address same as billing
                  </p>
                 </div>
              </div>
            </div>
          </div>

        <div class="grid"><button type=submit class="self-center myButton button px-padding-button-x py-padding-button-y mt-space-32-48 hover:bg-colorhover bg-black text-white m-auto">Confirm order</button></div>
    </form>
</div>


</div>
</Layout>

<style>
body{
    accent-color: var(--color-black);
}
button p{
    font-family: var(--font-family-accent);
    font-size: 10px;
    font-weight: var(--font-weight-light);
}

input {
    outline: none;

}
input:focus {
 
  border: solid 1.5px black;
}

/* input:focus:invalid {
    border: solid 1.5px red;

} */

input:required:valid{
    background: url("../svg/icons/check-ring.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 95%;
    padding-right: 10px;
}
/* input:autofill{
    background: url("../svg/icons/check-ring.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 95%;
    padding-right: 10px;
} */

</style>

<script  is:inline>

</script>