---
import Layout from '../layouts/Layout.astro'
---
<Layout>
<div class="flex flex-col px-body-x h-[80vh] justify-end text-right">
    <a href="/agab/" class="flex flex-col items-end">
        <h1 class="colh1">
            Abject Garment, Absent Body
        </h1>
        <p class="accentBody">Spring 2022</p>
    </a>
    <a href="/shadow/" class="flex flex-col items-end">
        <h1 class="colh1">
            The Shadow Collection
        </h1>
        <p class="accentBody">Spring 2022</p>
    </a>
    <a href="/contrapposto/" class="flex flex-col items-end">
        <h1 class="colh1">
            The Contrapposto Concept
        </h1>
        <p class="accentBody">Spring 2022</p>
    </a>
    <a href="/lichen/" class="flex flex-col items-end">
        <h1 class="colh1">
            The Lichen Project
        </h1>
        <p class="accentBody">Spring 2022</p>
    </a>
</div>
</Layout>