---
import Layout from '../layouts/Layout.astro';
import Lichen3 from '../img/collectionpages/Lichen/Lichen3.webp';
import LichenDetail from '../img/collectionpages/Lichen/Lichen1.webp';
import LichenDrawing from '../img/collectionpages/Lichen/Lichen5.webp';
import Lichen2 from '../img/collectionpages/Lichen/Lichen2.webp';

---

<Layout>
  <div class="overlinep px-body-x py-space-24-32"> <a class="hover-underline-breadcrumb" href="/collections/">Collections</a> / The Lichen Project</div>
      <div class="mobileGrid desktopGrid">
        <div class="lichenH  h-[200px] md:h-[65vh] col-span-3 md:col-span-7"></div>
      </div>
      <div class="px-body-x md:grid md:grid-cols-3 pb-space-64-160px">
        <h1 class="py-space-32-48 col-span-2">The Lichen Project</h1>
          <div class="grid relative justify-items-end">
              <div id="clickMe" class=" md:my-space-32-48  small-img-top w-[165px] h-[107px] md:w-[211px] md:h-[137px] hover:scale-95 cursor-hovercursor transition duration-700 ease-in-out"></div>
              <div id="overlay" class="hide absolute  md:my-space-32-48 w-[311px] h-[200px] md:w-[440px]  md:h-[300px] bg-slate-100"></div>
              
          </div>  
      </div>

  <section class="mobileGrid desktopGrid reveal">
        <!-- <h1 class="col-span-4 md:col-span-7 py-space-32-48 md:pb-0">The lichen project</h1>
        <div class="col-start-3 md:col-start-10 md:mt-space-32-48 col-span-2 md:col-span-3 w-[165px] md:w-[211px] h-[107px] md:h-[137px] bg-slate-400 mb-space-64-160px"></div> -->
        <img src={Lichen3} alt="Image of dress from Lichen Project" class="col-span-2 md:col-span-4 pb-6 md:pb-0">
        <p class="mediumBody col-span-4 md:col-span-5 pb-16 md:pb-0 md:col-start-6 md:row-start-1">The Lichen Project took inspiration from pioneer species’ frugal nature and ability to survive, take over and adapt to harsh environments. 
          <br> Focus on the translation of the lichens and the clams shape, surface and characteristics to a conceptual fashion collection. </p>
  </section>
  <section class="mobileGrid desktopGrid reveal">
        <img src={LichenDetail} alt="Detail image of fabric" class="col-start-3 md:col-start-9 col-span-2 md:col-span-4 pb-6 md:pb-0  md:row-start-1  md:self-end">
        <img src={LichenDrawing} alt="Sketch of dress" class="col-span-2 md:col-span-3 md:col-start-6 h-[265px] md:h-[500px] justify-self-center ">
        <p class="alth1 col-span-4 md:col-span-7 text-right md:text-left py-space-64-80">Textile made by hand from discarded fabric and yarn leftovers.</p>
        </section>
    


   <div class="desktopGrid reveal"> 
    <img src={Lichen2} alt="Image of dress from Lichen Project " class="md:col-span-6 md:col-start-4">
  </div>



</Layout>


<style>
.lichenH{
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-image: url('../img/collectionpages/Lichen/LichenH.webp');
}

/*OVERLAY*/

.small-img-top{
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-image: url('../img/collectionpages/Lichen/lichen-small-img.webp');
}
#overlay {
  background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-image: url('../img/collectionpages/Lichen/lichen-small-click.webp');

}

.small-img-top:hover{
  border: 1 solid black;
    
}

.hide {
  display: none;
}

</style>

<script is:inline>

  function toggleDivOnClickOutside(clickMe, overlay) {
    const button = document.getElementById(clickMe);
    const div = document.getElementById(overlay);
  
    // Add click event listener to the button
    button.addEventListener('click', function() {
      // Toggle the display of the div
      div.style.display = (div.style.display === 'block') ? 'none' : 'block';
    });
  
    // Add click event listener to the document
    document.addEventListener('click', function(event) {
      const targetElement = event.target;
  
      // Check if the clicked element is outside the specified div and button
      if (!div.contains(targetElement) && targetElement !== button) {
        // Close the div
        div.style.display = 'none';
      }
    });
  }
  
  toggleDivOnClickOutside('clickMe', 'overlay');

      //  SCROLL IN OPACITY ANIMATION
      function reveal() {
    var reveals = document.querySelectorAll(".reveal");
    for (var i = 0; i < reveals.length; i++) {
      var windowHeight = window.innerHeight;
      var elementTop = reveals[i].getBoundingClientRect().top;
      var elementVisible = 100;
      if (elementTop < windowHeight - elementVisible) {
        reveals[i].classList.add("active");
      } else {
        reveals[i].classList.remove("active");
      }
    }
  }

  window.addEventListener("scroll", reveal);
reveal();
  </script>