---
import Layout from '../layouts/Layout.astro';
import Lichen3 from '../img/collectionpages/Lichen/Lichen3.webp';
import LichenDetail from '../img/collectionpages/Lichen/Lichen1.webp';
import LichenDrawing from '../img/collectionpages/Lichen/Lichen5.webp';
import Lichen2 from '../img/collectionpages/Lichen/Lichen2.webp';

---

<Layout>
    <div class="breadcrumbs"></div>
    <div class="mobileGrid desktopGrid">
            <div class="lichenH  h-[200px] md:h-[65vh] col-span-3 md:col-span-7">
            </div>
            <h1 class="col-span-4 md:col-span-7 py-8 md:pt-40">The lichen project</h1>
      <div class="col-start-3 md:col-start-10 md:mt-40 col-span-2 md:col-span-3 w-[165px] md:w-[211px] h-[107px] md:h-[137px] bg-slate-400 mb-16 md:mb-40"></div>
      <img src={Lichen3} alt="Image of dress from Lichen Project" class="col-span-2 md:col-span-4 pb-6 md:pb-0">
      <p class="mediumBody col-span-4 md:col-span-5 pb-16 md:pb-0 md:col-start-6 md:row-start-3">The Lichen Project took inspiration from pioneer species’ frugal nature and ability to survive, take over and adapt to harsh environments. 
        <br> Focus on the translation of the lichens and the clams shape, surface and characteristics to a conceptual fashion collection. </p>
      <img src={LichenDetail} alt="Detail image of fabric" class="col-start-3 md:col-start-9 col-span-2 md:col-span-4 pb-6 md:pb-0  md:row-start-3 md:row-span-2  md:self-end">
      <img src={LichenDrawing} alt="Sketch of dress" class="col-span-2 md:col-span-3 md:col-start-6 h-[265px] md:h-[500px] justify-self-center pb-20 md:pb-0 md:row-start-4">
      <p class="alth1 col-span-4 md:col-span-7 text-right md:text-left md:pt-20">Textile made by hand from discarded fabric and yarn leftovers.</p>
    </div>
   <div class="desktopGrid"> 
    <img src={Lichen2} alt="Image of dress from Lichen Project " class="pt-20  md:col-span-6 md:col-start-4">
</div>



</Layout>


<style>
.lichenH{
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-image: url('../img/collectionpages/Lichen/LichenH.webp');
}
</style>