---
import Layout from '../layouts/Layout.astro';

---

<Layout>
    <div class="mobileGrid md:desktopGrid">
        <div class="lichenH col-span-3 h-[200px]">
        </div>
    </div>




</Layout>


<style>
.lichenH{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../img/collectionpages/Lichen/LichenH.webp');
}
</style>