---
import Layout from '../layouts/Layout.astro';
---
<Layout>
    <section class="pt-space-80-160 mobileGrid desktopGrid">
        <div class="col-span-4 md:col-span-7">
        <h1 class=" pb-space-64-80">Privacy Policy</h1>
        <p class="mediumBody">This privacy policy describes how Sally Bjerre Gaarde collects, uses, and disclose your personal information when you visit, make a rental reservation or sign up to our newsletter. </p>
    </div>
        <div class="col-span-4 md:col-span-5 md:row-start-2">
        
        <h2 class="pt-space-24-32 pb-space-16-24 ">Personal Information</h2>
        <p class="pb-space-16-24">We may collect personal information from you when you voluntarily provide it to us, such as when you make a rental reservation, contact us or subscribe to our newsletter. The types of personal information we collect may include your name, email address, phone number, billing and shipping addresses, and payment information.</p>
        <p class="pb-space-16-24">We may use the personal information we collect to</p>
        <ul class="pb-space-16-24"><li>
            Provide and maintain our website and services.</li>
            <li>Process and fulfil rental orders.</li>
            <li>Respond to your inquiries & requests.</li>
            <li>Send you newsletters (you can opt out at any time).</li>
            <li>Improve our website, services, and customer experience.</li>
        </ul>
        <h3 class="pb-space-8-16">Service Providers</h3>
        <p>We may engage trusted third-party companies and individuals to perform services on our behalf, such as website hosting, payment processing, and data analysis. These service providers will have access to your personal information only as necessary to perform their functions and are obligated to maintain its confidentiality.</p>
        <h3 class="pt-space-16-24 pb-space-8-16 ">Third-Party Links</h3>
        <p>Our website may contain links to third-party websites or services. Please note that we are not responsible for the privacy practices of such websites or services. We encourage you to read the privacy policies of any third-party websites you visit.</p>
<h3 class="pt-space-16-24 pb-space-8-16">Your  Rights</h3>
<p>We reserve the right to update or modify this Privacy Policy at any time. Any changes will be effective upon posting the revised policy on our website. We encourage you to review this policy periodically.</p>
   
</div>
<div class="col-span-4 md:row-start-2 md:col-span-5 md:col-start-7" >
<h2 class=" pt-space-24-32 pb-space-16-24">Cookies and Usage Data</h2>
<p class="">We may automatically collect certain information about your visit to our website, including your IP address, browser type, operating system, referring URLs, pages visited, and the dates and times of your visit. This information is collected through cookies and similar technologies to enhance your browsing experience and analyze trends.
</p>
<p class=" pt-space-8-16">We use cookies and similar technologies to analyze trends, track user activity, and gather demographic information about our user base. This helps us improve our website, customize your experience, and deliver targeted advertisements.</p>
</div>
<div class="col-span-4 row-start-3">
    <h3 class="pt-space-16-24 pb-space-8-16">Contact</h3>
    <p>If you have any questions, concerns, or requests regarding this Privacy Policy or our data practices, please contact us via e-mail.
         </p>
         <div class="pt-space-8-16">
        <a class=" links underline" href="mailto:sallygaarde@gmail.com" target="_blank">sallygaarde@gmail.com</a>
    </div>
</div>

    </section>
   

</Layout>

<style>

li {
  font-family: var(--font-family-main);
  font-size: var(--font-size-body-btn);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-body);
  list-style: circle;
  margin-left: 15px;
}

</style>