---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div class="mobileGrid desktopGrid">
        <h1 class="py-space-64-80 col-span-full"> Rental Process</h1>
        <h2 class="col-span-full pb-space-32-48">How it works</h2>
        <ol class="col-span-full desktopGrid">
            <li class="flex flex-col gap-3 md:gap-4 pb-space-32-48 md:col-span-5">
                <h3>1. Choose your item</h3>
                <p class="pl-4">Browse  and find your favorite hand-made designer item.</p>
            </li>
            <li class="flex flex-col gap-3 md:gap-4  pb-space-32-48 md:col-span-5 md:col-start-7">
                <h3>2. Place order</h3>
                <p class="pl-4">Pick your rental period , select if you want the item shipped or if you prefer to pick up at Sallys studio and choose your payment method. 
                    After placing order you will receive an e-mail with specified time for pick up.</p>
            </li>
            <li class="flex flex-col gap-3  md:gap-4 pb-space-32-48 md:pb-0 md:col-span-5">
                <h3>3. Payment method</h3>
                <p class="pl-4">You will receive an email with  information regarding your chosen payment method. You can pay by bank transfer, through Mobile Pay or at pickup. 
                    The item is reserved for customers for 24 hours until they have completed the payment process.</p>
            </li>
            <li class="flex flex-col gap-3 md:gap-4  pb-space-32-48 md:pb-0 md:col-span-5 md:col-start-7">
                <h3>4. Return item</h3>
                <p class="pl-4">Return method is to be the same as your chosen shipping method. 
                    We take care of cleaning the item after it is returned!</p>
                    <p class="mediumBody pl-4">Return through shipping</p>
                    <p class="pl-4">You will receive at prepaid shipping label with your item. Items is to be return in the same packaging as received in, on the last day of the rental period.</p>
                    <p class="mediumBody pl-4">Return to studio</p>
                    <p class="pl-4">You are to return item on last day of rental period or at the latest the day after. Reach out to Sally trough e-mail to set a time for return.</p>
                    <a class="pl-4 links underline" href="mailto:sallygaarde@gmail.com" target="_blank">mailto:sallygaarde@gmail.com</a>
            </li>
        </ol>
       






    </div>


</Layout>