---
import Layout from '../layouts/Layout.astro'
import Tshirt from '../img/landing/t-shirt-hover2.webp'
import Garment from '../components/GarmentCard.astro'
---
<Layout>
<div class="mobileGrid desktopGrid">
    <section class="md:col-span-5 col-span-4 sticky md:top-space-80-160 top-0 md:h-[70vh] bg-white">

    <p class="accentBody pb-2 border-b-[1px] border-black">Filters</p>
    <div class="flex flex-col gap-1 pt-2  md:pt-4">
        <div class="parentFilters flex col-span-full justify-between md:pb-3">
            <template id="parentCategoryTemplate">
                <div class="">
                    <a class="accentBody hover-underline-breadcrumb" href="/rental/">
                    </a>
                </div>
            </template>
        </div>
         <div class="flex justify-between pb-2">
                    <div class="collFilter flex flex-col md:gap-3 gap-1">
                        <template id="collCategoryTemplate">
                            <div class="">
                                <a class="accentBody hover-underline-breadcrumb" href="/rental/">
                                </a>
                            </div>
                        </template>
                    </div>
   
    
                    <div class="typeFilter flex flex-col md:gap-3 pr-12 md:pr-16 gap-1">
                        <template id="typeCategoryTemplate">
                            <div class="">
                                <a class="accentBody hover-underline-breadcrumb" href="/rental/">
                                </a>
                            </div>
                        </template>
                    </div>
                    
         </div>
       </div>
    </section>

    <section class="md:col-start-7 md:col-span-6 grid grid-cols-2 md:gap-x-6  md:gap-y-8 garmentlist col-span-4 ">
        <Garment/>
    </section>
</div>
</Layout>

<style>

    
</style>

<script is:inline>
window.addEventListener("load", setup);
    const endpoint = "https://evelinafalander.com/sallybjerregaarde/wp-json/wp/v2/";
    function setup(){
    getParentCategories();
    getItemCategories();
    getCollectionCategories();
}

function getParentCategories(){
 fetch(endpoint + "categories?parent=28&_fields.name&orderby=id")
 .then((res) => res.json())
 .then(setupParentCategories);
}

function getItemCategories(){
 fetch(endpoint + "categories?parent=18&_fields.name&orderby=id")
 .then((res) => res.json())
 .then(setupItemCategories);
}

function getCollectionCategories(){
 fetch(endpoint + "categories?parent=1&_fields.name&orderby=id")
 .then((res) => res.json())
 .then(setupColCategories);
}


function setupParentCategories(catArray){
    const template = document.querySelector("#parentCategoryTemplate").content;
    const parentElement = document.querySelector(".parentFilters");
    catArray.forEach((cat) => {
        const copy = template.cloneNode(true);
        copy.querySelector("a").textContent = cat.name;
        copy
            .querySelector("a").href = "?id=" + cat.id;
            
           
        parentElement.appendChild(copy);
    });

    getTheGarment();

}

function setupItemCategories(catArray){
    const template = document.querySelector("#typeCategoryTemplate").content;
    const parentElement = document.querySelector(".typeFilter");
    catArray.forEach((cat) => {
        const copy = template.cloneNode(true);
        copy.querySelector("a").textContent = cat.name;
        copy
            .querySelector("a").href = "?id=" + cat.id;
            
           
        parentElement.appendChild(copy);
    });
}

function setupColCategories(catArray){
    const template = document.querySelector("#collCategoryTemplate").content;
    const parentElement = document.querySelector(".collFilter");
    catArray.forEach((cat) => {
        const copy = template.cloneNode(true);
        copy.querySelector("a").textContent = cat.name;
        copy
            .querySelector("a").href = "?id=" + cat.id;
            
           
        parentElement.appendChild(copy);
    });
}

function getTheGarment(){
const searchParams = new URLSearchParams(window.location.search);
const id = searchParams.get("id");
let endpoint = "https://evelinafalander.com/sallybjerregaarde/wp-json/wp/v2/garment?per_page=100&_embed";

if (id){
    endpoint = endpoint + "&categories[]=" + id;
}

fetch(endpoint)
.then((res) => res.json())
.then(setupGarments);
}

function setupGarments(garmentArray){
    const template = document.querySelector(".productlistTemplate").content;

    garmentArray.forEach((garment) =>{
        const copy = template.cloneNode(true);
        const imageContainer = copy.querySelector("#imageContainer");
  const mainImage = copy.querySelector(".mainImage");
  const hoverImage = copy.querySelector(".hoverImage");
  //change content
  copy.querySelector(".price").textContent = `${garment.price_3days}`;
  copy.querySelector(".name").textContent = `${garment.title.rendered}`;
  copy
      .querySelector("a")
      .setAttribute("href", `/singlegarment/?id=${garment.id}`);
  copy.querySelector(".mainImage").src = garment.main_image.guid;
  copy.querySelector(".hoverImage").src = garment.main_image_hover.guid;

  imageContainer.addEventListener("mouseover", function () {
    mainImage.classList.add("hide");
    hoverImage.classList.remove("hide");
  });

  // Add mouseout event listener to the image container
  imageContainer.addEventListener("mouseout", function () {
    mainImage.classList.remove("hide");
    hoverImage.classList.add("hide");
  });

  const parent = document.querySelector(".garmentlist");
  parent.appendChild(copy);
})
}

</script>