---
import Layout from '../layouts/Layout.astro'
import Tshirt from '../img/landing/t-shirt-hover2.webp'
import Garment from '../components/GarmentCard.astro'
---
<Layout>
<div class="grid grid-cols-2 px-body-x">
    <section class="sticky top-space-80-160 h-[70vh]">
        <div class="border-b-[1px] border-black">
            <h2>Filters</h2>
        </div>
       
            <div class="grid filters">
                <template id="categoryTemplate">
                    <div class="flex flex.col">
                        <a href="productlist.html?categories">
                            <h3></h3>
                        </a>
                    </div>
                </template>
            </div>

            <div>
                <img src={Tshirt} alt="tshirt">
            </div>
    </section>

    <section class="grid grid-cols-2 garmentlist">
        <Garment/>
    </section>
</div>
</Layout>

<style>
    
</style>

<script is:inline>
    window.addEventListener("load", Categories);
const endpoint = "https://evelinafalander.com/sallybjerregaarde/wp-json/wp/v2/"
function Categories(){
    getParentCategories();
}
function getParentCategories(){
 fetch(endpoint + "categories?parents=1,18,19&_fields=name")
 .then(res => res.json())
 .then(setupCategories);
//  getTheGarment();
}

// function  getTheGarment(){
//     fetch("https://evelinafalander.com/sallybjerregaarde/wp-json/wp/v2/garment")
//     .then(res => res.json())
//     .then(setupGarment)
// }

function setupCategories(catArray){
    const template = document.querySelector("#categoryTemplate").content;
const parentElement = document.querySelector(".filters");
    catArray.forEach(cat => {
        const copy = template.cloneNode(true);
        copy.querySelector("h3").textContent=cat.name;
        copy
            .querySelector("a")
            .setAttribute("href", "/rental/category=" + cat.category);
        parentElement.appendChild(copy);
    })
}

// function setupGarment(garmentArray){
//     const template = document.querySelector(".productlistTemplate").content;
// const parentElement = document.querySelector(".productlist");
//     catArray.forEach(cat => {
//         const copy = template.cloneNode(true);
//         clone.querySelector
//         parentElement.appendChild(copy);
//     })
// }
</script>