---
import Layout from '../layouts/Layout.astro';
import ShadowH from '../img/collectionpages/Shadow/shadowHero.webp';
import Shadow1 from '../img/collectionpages/Shadow/shadow1.webp';
import Shadow2 from '../img/collectionpages/Shadow/shadow2.webp'
import Shadow3 from '../img/collectionpages/Shadow/shadow3.webp';
import Carousel1 from '../img/collectionpages/Shadow/shadowC1.webp';
import Carousel2 from '../img/collectionpages/Shadow/shadowC2.webp';
import Carousel3 from '../img/collectionpages/Shadow/shadowC3.webp';

---

<Layout>
    <div class="mobileGrid desktopGrid">
    <div class="breadcrumbs py-space-32-48 overlinep col-span-full">
        <a class="hover-underline-animation" href="/collections/">Collections</a> 
        / <a href="/">Shadow Project</a>
    </div>
    <!-- HERO -->
    <img src={ShadowH} alt="Detail image of fabric" class="col-start-1 col-span-3 pb-space-32-48">
<div class="col-span-full flex flex-col gap-space-32-48 row-start-3 pb-space-64-160px">
        <h1 class="">Shadow project</h1>
        <div class="w-[165px] h-[107px] bg-slate-400 self-end"></div>
</div>

<img src={Shadow1} alt="Picture of top from Shadow project" class="col-span-2 pb-8">
<p class="col-span-full">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan enim eget ligula
     interdum posuere vel id nisl. Ut ut magna vel risus blandit tincidunt. In auctor aliquam purus, 
     a tincidunt mi condimentum a.</p>
    </div>
<img src={Shadow2} alt="Three items from Shadow Collection" class="md:hidden pt-16">
<div class="mobileGrid desktopGrid">
    <p class="alth1 col-span-full py-space-64-160px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
<div class="flex flex-col gap- col-span-2"></div>

</div>

</Layout>


<style>

</style>