---
import Layout from '../layouts/Layout.astro'
import ImgCarousel from '../components/ImgCarousel.astro'
---
<Layout>
    <div class="breadcrumbs flex items-center mobileGrid desktopGrid overlinep">
        <a href="/rental/">Rental</a>
        <p class="overlinep">/</p>
        <a class="name" href="#">Product Name</a>
    </div>

        <div class="flex flex-col-reverse md:grid md:grid-cols-product">
                <section class="flex flex-col pl-body-x md:pr-[10rem] pt-space-64-80">
                    <div class="pt-space-24-32">
                        <p class="collection">Collection Name</p>
                        <h1 class="title">Name Of Product</h1>
                    </div>
                    <div class="pt-space-24-32 flex flex-col gap-8">
                        <div>
                            <p class="mediumBody">Product details</p>
                            <p class="details">1</p>
                        </div>
                        <div>
                            <p class="mediumBody">Material</p>
                            <p class="material">2</p>
                        </div>
                        <div>
                            <p class="mediumBody">Size</p> 
                            <p class="size">3</p>
                        </div>
                    </div>
                    <div class="pt-space-24-32">
                        <form>
                            <fieldset>
                              <legend class="mediumBody">How long</legend>
                          
                              <input type="radio" id="3" name="monster" value="K">
                              <label for="kraken">3 days</label><br>
                          
                              <input type="radio" id="5" name="monster" value="S">
                              <label for="sasquatch">5 days</label><br>
                          
                              <input type="radio" id="week" name="monster" value="M">
                              <label for="mothman">1 week</label>
                            </fieldset>
                          </form>
        
                    </div>
    
            </section>
        <section class="pl-[64px] py-[64px]">
            <ImgCarousel/>
        </section>
    </div>

</Layout>

<script is:inline>

const urlParams = new URLSearchParams(window.location.search);
const id = urlParams.get("id");

const url = `https://evelinafalander.com/sallybjerregaarde/wp-json/wp/v2/garment/${id}`;
console.log(urlParams.get("id"));

//fetch the data
fetch(url)
  .then((res) => res.json())
  .then((data) => showProduct(data));

//populate the page
function showProduct(garment) {
  console.log(garment);
  document.querySelector(".collection").textContent = garment.collection_name;
  document.querySelector(".name").textContent =
    garment.title.rendered;
  document.querySelector(".title").textContent =
    garment.title.rendered;
    document.querySelector(".details").textContent =
    garment.description;
    document.querySelector(".material").textContent =
    garment.materials;
    document.querySelector(".size").textContent =
    garment.measurements;
    document.querySelector(".img1").src = garment.main_image.guid;
    document.querySelector(".img2").src = garment.main_image_hover.guid;
    document.querySelector(".img3").src = garment.additional_image.guid;
}

</script>