---
import SingleLayout from '../layouts/SingleLayout.astro'
import ImgCarousel from '../components/ImgCarousel.astro'
import PrimaryButton from '../components/PrimaryButton.astro'
import CartOverlay from '../components/CartOverlay.astro'
---
<SingleLayout>
    
    <div class="overlinep px-body-x py-space-24-32"> <a class="hover-underline-breadcrumb" href="/rental/">All Rentals</a> / <span class="name"> Product Name </span> </div>

        <div class="flex flex-col-reverse md:grid md:grid-cols-product relative">
                <section class="flex flex-col px-body-x md:pl-body-x md:pr-[10rem]  gap-space-24-32">

                    <div class="flex flex-col gap-space-8-16">
                        <p class="collection">Collection Name</p>
                        <h1 class="title">Name Of Product</h1>
                        <p class="size">x</p>
                    </div>


                        <div>
                            <p class="mediumBody">Choose rental period</p>
                              <div class="flex gap-4 pt-2">
                                  <button class="days accentSmallBody button3">3 days</button>
                                  <button class="days accentSmallBody button5">5 days</button>
                                  <button class="days accentSmallBody button1">1 week</button>
                              </div>
                        </div>

                        <div>
                            <label class="mediumBody" for="start">Choose a start date</label>
                                <div class="pt-2">
                                    <input class="accentSmallBody w-[9rem] border-black border-[1px] p-[0.3rem]" type="date" id="start" name="trip-start" value="2023-06-02" min="2023-06-01" max="2025-12-31">
                                </div>
                        </div>

                            <div>
                                <div class="flex gap-10 md:gap-7">
                                    <p class="mediumBody">Price &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; </p>
                                    <p id="placeholder" class="mediumBody">from <span class="placeholder">1</span> DKK</p>
                                    <p id="3days" class="hide mediumBody"> <span class="price3">1</span> DKK </p>
                                    <p id="5days" class="hide mediumBody"> <span class="price5">1</span> DKK </p>
                                    <p id="1week" class="hide mediumBody"> <span class="price1">1</span> DKK </p>
                                </div>
    
                            <div class="flex gap-8 pt-2">
                                <p class="accentSmallBody">Value Price</p> 
                                <p class="accentSmallBody"><span class="value">1</span> DKK</p>
                            </div>
                            </div>

                        <div id="add" class="pt-space-16-24">
                            <PrimaryButton link="/cart/" text="Add to cart" />
                        </div>



                          <div class="flex flex-col pt-space-24-32">
                                
                                
                                <div>
                                    <details>
                                        <summary class="mediumBody flex flex-row-reverse justify-between">Material</summary>
                                        <p class="material">x</p>
                                      </details>
                                </div>
                                <div>
                                    <details>
                                        <summary class="mediumBody flex flex-row-reverse justify-between">Washing Instructions</summary>
                                        <p class="washing">x</p>
                                      </details>
                                </div>
                    </div>
                    <p class="details mediumBody">x</p>
    
            </section>
        <section class="md:pl-[64px] md:pr-body-x md:pb-[64px] h-[90vh] md:h-[100vh] md:top-0 sticky">
            <ImgCarousel/>
        </section>
    </div>

    <section id="cartOverlay" class=" z-20 cartOverlay grid w-[100vw] md:w-[37vw] lg:w-[25vw] h-[80vh] md:h-[100vh] md:top-0 fixed">
        <CartOverlay/>
    </section>

</SingleLayout>

<style>

/* .cartOverlay{
    right: -50%;
    transition: right 1s ease-in-out;
}

.cartOverlay.open {
  right: 0;
}
.cartContainer{
    z-index: 800 !important;
} */
input:focus {
        outline:none !important;
    }
details > summary {
    list-style-type: none;
}

details > summary::-webkit-details-marker {
    display: none;
}

details > summary::before {
    content: '+';
    font-weight: var(--font-weight-light);
}

details[open] > summary::before {
    content: '-';
    font-weight: var(--font-weight-light);
}

details {
    border-bottom: 1px solid black;
    padding: 1rem 0;
}

details[open] > summary {
    margin-bottom: 0.5rem;
}

    input[type="date"]{

    }
    .days{
        padding: 0.5rem 0.5rem;
        border: 1px solid black;
    }
    .days:hover{
        background-color: black;
        color: white;
    }

    .days:focus{
        background-color: black;
        color: white;
    }

    .title{
        font-family: var(--font-family-main);
        font-size: var(--font-size-h2) !important;
        font-weight: var(--font-weight-semibold);
        text-transform: uppercase;
        letter-spacing: 5px;
        line-height: var(--line-height-h2);
    }

    .hide{
        display: none;
    }

    .cartOverlay{
            right: -50%;
            transition: right 1s ease-in-out;
        }
        
        .cartOverlay.open {
          right: 0;
        }
        .cartContainer{
            z-index: 800 !important;
        }
        
        @media screen and (max-width: 768px) {
          .cartOverlay{
            right: auto;
            transition: top 1s ease-in-out;
            top: -100%;
        }
        
            .cartOverlay.open {
            top: 0;
        }
        }
</style>

<script is:inline>

const urlParams = new URLSearchParams(window.location.search);
const id = urlParams.get("id");

const url = `https://evelinafalander.com/sallybjerregaarde/wp-json/wp/v2/garment/${id}`;
console.log(urlParams.get("id"));

//fetch the data
fetch(url)
  .then((res) => res.json())
  .then((data) => showProduct(data));

//populate the page
function showProduct(garment) {
  console.log(garment);
  document.querySelector(".collection").textContent = garment.collection_name;
  document.querySelector(".name").textContent =
    garment.title.rendered;
  document.querySelector(".title").textContent =
    garment.title.rendered;
    document.querySelector(".details").textContent =
    garment.description;
    document.querySelector(".material").textContent =
    garment.materials;
    document.querySelector(".size").textContent =
    garment.measurements;
    document.querySelector(".washing").textContent =
    garment.wash_instructions;
    document.querySelector(".value").textContent =
    garment.value_price;
    document.querySelector(".price3").textContent =
    garment.price_3days;
    document.querySelector(".placeholder").textContent =
    garment.price_3days;
    document.querySelector(".price5").textContent =
    garment.price_5days;
    document.querySelector(".price1").textContent =
    garment.price_1week;
    document.querySelector(".img1").src = garment.main_image.guid;
    document.querySelector(".img2").src = garment.main_image_hover.guid;
    document.querySelector(".img3").src = garment.additional_image.guid;

    //CART
    document.querySelector(".cartImage").src = garment.main_image.guid;
    document.querySelector(".titleText").textContent =
    garment.title.rendered;
    document.querySelector(".cartPrice").textContent =
    garment.price_3days;
    document.querySelector(".cartTotal").textContent =
    garment.price_3days;
}

document.querySelector(".button3").addEventListener("click", displayPrice3);
document.querySelector(".button5").addEventListener("click", displayPrice5);
document.querySelector(".button1").addEventListener("click", displayPrice1);

function displayPrice3(){
    document.getElementById("3days").classList.remove("hide");
    document.getElementById("placeholder").classList.add("hide");
    document.getElementById("1week").classList.add("hide");
    document.getElementById("5days").classList.add("hide");
}

function displayPrice5(){
    document.getElementById("5days").classList.remove("hide");
    document.getElementById("3days").classList.add("hide");
    document.getElementById("1week").classList.add("hide");
    document.getElementById("placeholder").classList.add("hide");
}
function displayPrice1(){
    document.getElementById("1week").classList.remove("hide");
    document.getElementById("3days").classList.add("hide");
    document.getElementById("5days").classList.add("hide");
    document.getElementById("placeholder").classList.add("hide");
}

  //CART OVERLAY FUNCTION
  document.addEventListener('DOMContentLoaded', function() {
          var cartBtn1 = document.getElementById('cartMobile');
          var cartBtn2 = document.getElementById('cartDesktop');
          var overlay = document.getElementById('cartOverlay');
          var closeBtn = document.getElementById('close');
          var openBtn = document.getElementById('add');
        
        
          cartBtn1.addEventListener('click', function() {
            overlay.classList.add('open');
        
          });
        
          cartBtn2.addEventListener('click', function() {
            overlay.classList.add('open');
          });
        
          closeBtn.addEventListener('click', function() {
            overlay.classList.remove('open');
          });
        
          openBtn.addEventListener('click', function() {
            overlay.classList.add('open');
            document.getElementById("item").classList.remove("hide");
            document.getElementById("item2").classList.remove("hide");
          });
        });
</script>