---
import Layout from '../layouts/Layout.astro';
---
<Layout>

    <h1 class="py-space-64-80 text-center">Thank you</h1>
    <section class="mobileGrid desktopGrid">
        
       
        
        <p class="mediumBody col-span-4 md:row-start-2 md:col-span-6 text-center md:col-start-4">We have received your order to rent the Abjection T-shirt during the 3rd of June - 6 of June. You will receive a order conformation email shortly with payment details. Please follow the email’s instructions to finish you renting process.
        </p>
       <p class="mediumBody col-span-4 md:col-span-6 md:row-start-3 pt-space-16-24 text-center md:col-start-4">In case you haven’t received an conformation email, please contact </p>
        <a class=" text-center col-span-4  links underline md:row-start-4 md:col-start-5" href="mailto:sallygaarde@gmail.com" target="_blank">sallygaarde@gmail.com</a>
    </section>
   

</Layout>

<style>


</style>