---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div class="mobileGrid desktopGrid">
        <h1 class="py-space-64-80 col-span-full"> Terms and conditions</h1>
        <h2 class="col-span-4 pb-space-32-48 row-start-2">General</h2>
<div class="flex flex-col gap-3 md:gap-4 col-span-full md:!col-start-1 md:col-span-5">
            <p >Customers are encouraged to carefully read these terms and conditions before shopping at the Sally Bjerre Gaarde online renting platform at www.sallybjerregaarde.dk.</p>
            <p>These terms and conditions apply to the use of the website and online renting platform of Sally Bjerre Gaarde. By using the website and online renting platform of Sally Bjerre Gaarde, the consumer acknowledges that they have familiarized themselves, understood, and accepted these terms and conditions without reservation, as they are at any given time.</p>
            <p >Sally Bjerre Gaarde reserves the right to change these rules and terms and conditions without notice. These terms and conditions should be interpreted in accordance with Danish law.</p>
</div>

        <h2 class="py-space-32-48 md:pt-0 col-span-4 md:col-start-7 md:row-start-2">Rental terms</h2>
     <div class="flex flex-col gap-3 md:gap-4 col-span-full md:col-start-7 md:col-span-5">
            <p>All products on the Sally Bjerre Gaarde website are intended for short-term rental by customers and are priced accordingly. The products are not for sale at this time, and customers do not acquire Sally Bjerre Gaarde products through their transactions with the company unless otherwise explicitly stated.</p>
            <p>The start and end of the rental period are determined by the customer's order and based on the specified price, assuming that the item is picked up/delivered and returned on the pre determined days and within the specified timeframe. Sally Bjerre Gaarde reserves the right to charge a late fee. If the item is returned too late, an amount will be charged equivalent to one day's rental for the item. Please note that there are others waiting to use the item, and we need time to clean it after each use.</p>
            <p>The responsibility and risk for rented items transfer to the customer upon delivery and remain with the customer until the item is returned. During the rental period, the customer is fully responsible for any damage or loss that may occur while the item is in their possession. The customer must handle the item with care and is not allowed to sublease or sell any Sally Bjerre Gaarde products. Sally Bjerre Gaarde is authorized to charge the full value of the product in cases where the product is damaged, lost, or stolen. Otherwise, Sally Bjerre Gaarde may charge lower amounts to cover the cost of stain removal and/or repairs if the customer does not make arrangements for such payments within two business days of the rental period's end date.</p>
     </div>
    </div>
</Layout>