---

---

<article class="col-span-2 md:col-span-3">
	<div class="productImg">
		<a href="/singlegarment/?id=">
		<div class="image1 h-[26.5rem]"></div>
		</a>
	</div>
	<div class="infobox">
		<a href="/singlegarment/?id=">
		<p class="accentBody name">AGAB Brown Dress</p>
		<p class="price overlinep">From 1000 dkk</p>
		</a>
	</div>
</article>

<article class="col-span-2 md:col-span-3">
	<div class="productImg">
		<a href="/singlegarment/?id=">
		<div class="image2 h-[26.5rem]"></div>
		</a>
	</div>
	<div class="infobox">
		<a href="/singlegarment/?id=">
			<p class="accentBody name">AGAB Jeans</p>
			<p class="price overlinep">From 1000 dkk</p>
		</a>
	</div>
</article>

<article class="col-span-2 md:col-span-3">
	<div class="productImg">
		<a href="/singlegarment/?id=">
		<div class="image3 h-[26.5rem]"></div>
		</a>
	</div>
	<div class="infobox">
		<a href="/singlegarment/?id=">
		<p class="accentBody name">AGAB Tights</p>
		<p class="price overlinep">From 1000 dkk</p>
		</a>
	</div>
</article>

<article class="col-span-2 md:col-span-3">
	<div class="productImg">
		<a href="/singlegarment/?id=">
		<div class="image4 h-[26.5rem]"></div>
		</a>
	</div>
	<div class="infobox">
		<a href="/singlegarment/?id=">
		<p class="accentBody name">AGAB Skirt</p>
		<p class="price overlinep">From 1000 dkk</p>
		</a>
	</div>
</article>
<style>
	.image1 {
    background-image: url('../img/landing/dress-brown.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .image1:hover {
    background-image: url("../img/landing/dress-brown-h.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .image2 {
    background-image: url('../img/landing/jeans-2.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .image2:hover {
    background-image: url("../img/landing/jeans-h-1.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .image3 {
    background-image: url('../img/landing/tights.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .image3:hover {
    background-image: url("../img/landing/tights-h.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .image4 {
    background-image: url('../img/landing/skirt.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .image4:hover {
    background-image: url("../img/landing/skirt-h.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
</style>
