---
import "../styles/global.css"
---

<footer class="flex flex-col gap-gap-footer pb-16">
    <ul class="flex flex-col  md:flex-row justify-between">
        <li><a href="/rentalprocess/" class="navLinks hover-underline-animation pt-8">Rental Process</a></li>
        <li><a href="/terms/" class="navLinks hover-underline-animation pt-8">Terms & Conditions</a></li>
        <li><a href="/privacy/" class="navLinks hover-underline-animation pt-8">Privacy</a></li>
        <li><a href="/" class="navLinks hover-underline-animation pt-8">Instagram</a></li>
    </ul>
    <p>&copy; Evelina, Linnea & Thordis 2023</p>
</footer>