---
import "../styles/global.css"
---

<footer class="flex flex-col gap-gap-footer pb-16 px-body-x">
    <ul class="flex flex-col  md:flex-row justify-between">
        <li><a href="/rentalprocess/" class="navLinks hover-underline-animation pt-8">Rental Process</a></li>
        <li><a href="/terms/" class="navLinks hover-underline-animation pt-8">Terms & Conditions</a></li>
        <li><a href="/privacy/" class="navLinks hover-underline-animation pt-8">Privacy</a></li>
        <li><a href="https://www.instagram.com/sallykfofkdkepflgmvlcd/" target="_blank" class="navLinks hover-underline-animation pt-8">Instagram</a></li>
    </ul>
    <div class="flex flex-col gap-2">
      <p>Sally Bjerre Gaarde</p>
      <p class="accentSmallBody">&copy; Evelina, Linnea & Thordis 2023</p>
    </divc>
</footer>

<style>
    
          p, a.navLinks{
            font-family: var(--font-family-accent);
            font-weight: var(--font-weight-book);
            font-size: var(--font-size-body-btn);
          }
    
     
    
    
    </style>