

  <template id="productlistTemplate" class="productlistTemplate">
     <div class="productlist">
          <article class="col-span-2 md:col-span-3">
              <div class="productImg">
                  <a id="imageContainer" href="/productview/?id=">
                  <img id="visibleImage" class="mainImage" src="" alt="product">
                  <img id="hiddenImage" class="hoverImage hide" src="" alt="product">
                  </a>
              </div>
              <div class="infobox">
                  <h5 class="accentBody name">AGAB Skirt</h5>
                  <p class="overlinep">From <span class="price">1000</span> DKK</p>
              </div>
          </article>
     </div>
  </template>


<style>
  .hide{
    display: none;
  }
</style>

<script is:inline>

// // window.addEventListener("DOMContentLoaded", init);
// window.addEventListener("DOMContentLoaded", init);

// function init(event) {

// const url = "https://evelinafalander.com/sallybjerregaarde/wp-json/wp/v2/garment";

// fetch(url)
// .then(function(res){
//   return res.json();
// })
// .then(function(data){
//   handleProductList(data);
// });

// function handleProductList(data){
//   console.log(data)
//   data.forEach(showProduct);
// }
// }

// function showProduct(garment){
//   console.log(garment);
//   const template = document.querySelector(".productlistTemplate").content;
//   const copy = template.cloneNode(true);

//   const imageContainer = copy.querySelector("#imageContainer");
//   const mainImage = copy.querySelector(".mainImage");
//   const hoverImage = copy.querySelector(".hoverImage");
//   //change content
//   copy.querySelector(".price").textContent = `${garment.price_3days}`;
//   copy.querySelector(".name").textContent = `${garment.title.rendered}`;
//   copy
//       .querySelector("a")
//       .setAttribute("href", `/singlegarment/?id=${garment.id}`);
//   copy.querySelector(".mainImage").src = garment.main_image.guid;
//   copy.querySelector(".hoverImage").src = garment.main_image_hover.guid;

//   imageContainer.addEventListener("mouseover", function () {
//     mainImage.classList.add("hide");
//     hoverImage.classList.remove("hide");
//   });

//   // Add mouseout event listener to the image container
//   imageContainer.addEventListener("mouseout", function () {
//     mainImage.classList.remove("hide");
//     hoverImage.classList.add("hide");
//   });

//   const parent = document.querySelector(".garmentlist");
//   parent.appendChild(copy);
// }
        </script>