---
import Image2Mobile from '../img/landing/img2-mobile.webp'
---
<template class="productlistTemplate">
   <div class="productlist">
        <article class="col-span-2 md:col-span-3">
            <div class="productImg">
                <a href="/productview/?id=">
                <img class="mainImage" src={Image2Mobile} alt="product">
                </a>
            </div>
            <div class="infobox">
                <h5 class="accentBody name">AGAB Skirt</h5>
                <p class="price overlinep">From 1000 dkk</p>
            </div>
        </article>
   </div>
</template>

<script is:inline>

window.addEventListener("DOMContentLoaded", init);

function init(event) {
  let params = new URLSearchParams(document.location.search);
  let id = params.get("id");
  let url = "https://evelinafalander.com/sallybjerregaarde/wp-json/wp/v2/garment";

  if (id) {
    url += `/${id}`;
  }

  getData(url + "?_embed");

  async function getData(fetchurl) {
    console.log(fetchurl);
    let result = await fetch(fetchurl);
    if (id) {
      showSingleProduct(await result.json());
    } else {
      showProducts(await result.json());
    }
  }
}

function showProducts(productArray) {
  console.log(productArray);
  const template = document.querySelector(".productlistTemplate").content;
  const parentElement = document.querySelector(".productlist");
  productArray.forEach((garment) => {
    const copy = template.cloneNode(true);
    copy.querySelector(".name").textContent = garment.title.rendered;
    copy
      .querySelector("a")
      .setAttribute("href", `/productview/?id=${garment.id}`);
    copy.querySelector(".price").textContent = garment.price;
    copy.querySelector(".image").src =
      garment.main_embedded[
        "wp:featuredmedia"
      ][0].media_details.sizes.medium_large.source_url;
    parentElement.appendChild(copy);
  });
}
        </script>