---
import "../styles/global.css"

import Emblem from '../svg/logo-emblem.svg'
---
<!-- MOBILE -->
<header class="md:hidden flex flex-col  gap-8 pb-padding-header-y sticky top-padding-header-y"> 
 <a href="/"> <img src={Emblem} alt="Logo Emblem" class="self-center w-10"></a>
  <nav class=" px-body-x">
      <ul class="flex justify-between">
          <li><a href="/about/" class="navLinks hover-underline-animation">About</a></li>
          <li><a href="/rental/" class="navLinks hover-underline-animation">Rental</a></li>
          <li><a href="/collections/" class="navLinks hover-underline-animation">Collections</a></li>
          <li><a id="cartMobile" class="navLinks hover-underline-animation cursor-pointer">Cart<span id="item" class="hide">(1)</span></a></li>
      </ul>
  </nav>
  </header>

<!-- DESKTOP -->
<header class="hidden md:block pb-padding-header-y sticky top-padding-header-y"> 
<nav class=" px-body-x">
    <ul class="flex justify-between">
        <li><a href="/about/" class="navLinks hover-underline-animation">About</a></li>
        <li><a href="/rental/" class="navLinks hover-underline-animation">Rental</a></li>
        <li><a href="/"><img src={Emblem} alt="EmblemLogo" class="w-14"></a></li>
        <li><a href="/collections/" class="navLinks hover-underline-animation">Collections</a></li>
        <li><a id="cartDesktop" class="navLinks hover-underline-animation cursor-pointer">Cart<span id="item2" class="hide">(1)</span> </a></li>
    </ul>
</nav>
</header>


<style>

header{
        filter: invert(1);
        mix-blend-mode: difference;
      }

      a.navLinks{
        font-family: var(--font-family-accent);
        font-weight: var(--font-weight-book);
        font-size: var(--font-size-body-btn);
      }

    .hide{
      display: none;
    }


</style>