---
import "../styles/global.css"

import Emblem from '../svg/logo-emblem.svg'
---
<!-- MOBILE -->
<header class="md:hidden flex flex-col  gap-8 pb-padding-header-y sticky top-padding-header-y"> 
  <img src={Emblem} alt="Logo Emblem" class="self-center w-10">
  <nav class=" px-body-x">
      <ul class="flex justify-between">
          <li><a href="/about/" class="navLinks hover-underline-animation">About</a></li>
          <li><a href="/rental/" class="navLinks hover-underline-animation">Rental</a></li>
          <li><a href="/collections/" class="navLinks hover-underline-animation">Collections</a></li>
          <li><a href="/cart/" class="navLinks hover-underline-animation">Cart</a></li>
      </ul>
  </nav>
  </header>

<!-- DESKTOP -->
<header class="hidden md:block pb-padding-header-y sticky top-padding-header-y"> 
<nav class=" px-body-x">
    <ul class="flex justify-between">
        <li><a href="/about/" class="navLinks hover-underline-animation">About</a></li>
        <li><a href="/rental/" class="navLinks hover-underline-animation">Rental</a></li>
        <li><a href="/"><img src={Emblem} alt="EmblemLogo" class="w-14"></a></li>
        <li><a href="/collections/" class="navLinks hover-underline-animation">Collections</a></li>
        <li><a href="/cart/" class="navLinks hover-underline-animation">Cart</a></li>
    </ul>
</nav>
</header>


<style>

header{
        filter: invert(1);
        mix-blend-mode: difference;
      }

      a.navLinks{
        font-family: var(--font-family-accent);
        font-weight: var(--font-weight-book);
        font-size: var(--font-size-body-btn);
      }

      .hover-underline-animation {
        display: inline-block;
        position: relative;
        color: #000000;
      }
      
      .hover-underline-animation:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: #000000;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      
      .hover-underline-animation:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }



</style>