---
import "../styles/global.css"
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Sally Bjerre Gaarde</title>
		<link rel="stylesheet" href="https://use.typekit.net/udb3wxx.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Varta:wght@400;600&display=swap" rel="stylesheet">
	</head>
	<body>
		<main></main>
		<slot />
		<main></main>
	</body>
</html>


<stylel>
</style>
