---
import "../styles/global.css"
import Header from "../components/Header.astro"
import Footer from '../components/Footer.astro'
import CartOverlay from '../components/CartOverlay.astro'
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo-favicon.svg" />
		<meta name="generator" content={Astro.generator} />
    <meta name="description" content="A rental platform and lookbook for the brand Sally Bjerre Gaarde. This brand designs and creates one of a kind garments from sustainable and upcycled material. ">
		<title>SALLY BJERRE GAARDE</title>
		<link rel="stylesheet" href="https://use.typekit.net/udb3wxx.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Varta:wght@400;600&display=swap" rel="stylesheet">
	</head>
	<body>
		<Header/>
		<main class="pt-padding-header-y pb-p-4xl">
			<slot />

			<section id="cartOverlay" class="cartOverlay grid w-[100vw] md:w-[26vw] h-[80vh] md:h-[100vh] md:top-0 fixed">
				<CartOverlay/>
			</section>
		
		</main>
		<Footer/>
	</body>
</html>

<style>
.cartOverlay{
    right: -50%;
    transition: right 1s ease-in-out;
}

.cartOverlay.open {
  right: 0;
}
.cartContainer{
    z-index: 800 !important;
}

@media screen and (max-width: 768px) {
  .cartOverlay{
    right: auto;
    transition: top 1s ease-in-out;
    top: -100%;
}

    .cartOverlay.open {
    top: 0;
}
}
</style>

<script is:inline>
	//CART OVERLAY FUNCTION
document.addEventListener('DOMContentLoaded', function() {
  var cartBtn1 = document.getElementById('cartMobile');
  var cartBtn2 = document.getElementById('cartDesktop');
  var overlay = document.getElementById('cartOverlay');
  var closeBtn = document.getElementById('close');
  var openBtn = document.getElementById('add');


  cartBtn1.addEventListener('click', function() {
    overlay.classList.add('open');

  });

  cartBtn2.addEventListener('click', function() {
    overlay.classList.add('open');
  });

  closeBtn.addEventListener('click', function() {
    overlay.classList.remove('open');
  });

  openBtn.addEventListener('click', function() {
    overlay.classList.add('open');
	document.getElementById("item").classList.remove("hide");
	document.getElementById("item2").classList.remove("hide");
  });
});
</script>
